.vbox_btn{
    -fx-background-color: #34495e;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
-fx-border-style: solid;
    -fx-border-color: #141313;
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right,#0A3353,#34495e);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}
.b {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-weight: bold; /* Gras */
    -fx-padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    -fx-border-radius: 5px; /* Rayon des coins */
    -fx-background-radius: 5px; /* Rayon des coins du fond */
    -fx-border-color: #388E3C; /* Couleur de la bordure */
}
.button{
    -fx-background-color: linear-gradient(to right,#0A3353,#016A91);
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,3,0,0,3);
    -fx-pref-width: 100;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}
.button:hover{
    -fx-cursor: hand;
}